<!-- src/main/resources/templates/event-form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">


<section class="page">
    <div class="page-header">
        <h1 th:text="${evento.id != null ? 'Editar Evento' : 'Criar Evento'}">Criar Evento</h1>
        <a class="btn" th:href="@{/eventos}">Voltar</a>
    </div>

    <form th:object="${evento}" th:action="@{/eventos}" method="post" class="form">
        <div th:if="${evento.id != null}">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" name="_method" value="put" />
        </div>

        <label>
            <span>Nome</span>
            <input type="text" th:field="*{nome}" placeholder="Nome do evento" required />
        </label>

        <label>
            <span>Local</span>
            <input type="text" th:field="*{local}" placeholder="Cidade / Local" required />
        </label>

        <label>
            <span>Data</span>
            <input type="date" th:field="*{data}" required />
        </label>

        <label>
            <span>Descrição</span>
            <textarea th:field="*{descrição}" rows="4" placeholder="Breve descrição"></textarea>
        </label>



        <div class="form-actions">
            <button type="submit" class="btn primary" th:text="${evento.id != null ? 'Atualizar' : 'Criar'}">Criar</button>
            <a class="btn" th:href="@{/eventos}">Cancelar</a>
        </div>
    </form>
</section>
</html>
